[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "configs/zsh_theme/powerlevel10k"]
	path = configs/zsh_theme/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
